body {
    font-family: "Roboto", sans-serif;
    background-color: $secondary-color;
    color: $primary-text-color;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header-section {
    height: 100vh;
    .container {
        height: 100%;
    }
    &_content,
    &_playbutton {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        
    }
    &_content {
        h1 {
            font-size: $font-size-5xl;
            font-weight: 500;
            width: 50%;
        }
        h2 {
            text-transform: uppercase;
        }
        h2,
        span {
            font-size: $font-size-2xl;
        }
        h1,
        span {
            margin-top: 2.5rem;
        }
        span {
            display: inline-block;
            text-transform: capitalize;
            margin-top: 3rem;
        }
    }
    &_playbutton {
        right: 20%;
        .playbutton {
            position: relative;
            transition: opacity 0.2s ease-in-out;
            width: 90px;
            height: 90px;
            background-color: red;
            border-radius: 50%;
            i{
                position: absolute;
                top: 50%;
                left: 54%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
            }
        }
    }
    &_nav {
        margin: 3rem auto;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                list-style: none;
                .home-link{
                    font-size: $font-size-2xl;
                }

                a {
                    transition: all 0.2s ease-in-out;
                    text-decoration: none;
                    color: $primary-text-color;
                    font-size: $font-size-base;
                    font-weight: 400;
                    padding: 1rem 1.5rem;
                    position: relative;
                    &:after {
                        content: attr(data-number);
                        position: absolute;
                        top: 5px;
                        right: 20px;
                        transform: translateX(-50%);
                        font-size: $font-size-sl;
                        font-weight: bold;
                        color: $primary-text-color-darker;
                    }
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
