$primary-color: #DA0A2C;
$secondary-color: #17161B;

$primary-text-color: #fff;
$secondary-text-color: #000;

$primary-text-color-darker: #cccccc;

// Font sizes
$font-size-sl: 0.5rem;
$font-size-sm: 0.75rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2rem;
$font-size-5xl: 5rem;